@page "/roster"
@using Microsoft.EntityFrameworkCore
@using NFLRookieGuide.Context
@using NFLRookieGuide.Model
@inject RosterPlayProvider RosterPlayProvider

<h3>Made Roster</h3>



@code {

    private IEnumerable<RosterPlay> plays;

    protected override async Task OnInitializedAsync()
    {
        plays = await RosterPlayProvider.GetAllRosterPlaysAsync();
    }
}
