@page "/createPlay"
@using NFLRookieGuide.Context
@using NFLRookieGuide.Model
@inject PlayProvider PlayProvider
@inject PositionProvider PositionProvider
@inject NavigationManager NavigationManager

<h3 style="text-align:center">Create Play</h3>
@* 
<div class="container my-5">
    <div class="row justify-content-center">
        @for (int i = 1; i <= 10; i++)
        {
            <div class="col-md-2 mb-4 d-flex justify-content-center">
                <div class="card text-center" style="width: 300px; height: 300px; border: 2px solid #333;">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title mb-3">Slot @i</h5>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @(selectedPositions.ContainsKey(i) ? selectedPositions[i].Name : "Select")
                            </button>
                            <ul class="dropdown-menu">
                                @foreach (var position in availablePositions)
                                {
                                    <li>
                                        <button class="dropdown-item" type="button"
                                                @onclick="() => TogglePosition(i, position)">
                                            @position.Name
                                        </button>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            @if (i % 5 == 0)
            {
                <div class="w-100"></div>
            }
        }
    </div>
    <button class="btn btn-secondary" type="button" style="float: right;">Save</button>
</div>
 *@
 <div class="row">
     <div class="col-md=4">
         <EditForm method="post" Model="Slots" OnValidSubmit="SavePlay" Enhance>
             <div class="mb-3">
                 <label for="slot1" class="form-label">Slot1:</label>
                 <InputNumber id="slot1" @bind-Value="Slots.Slot1" class="form-control"/>
             </div>
            <div class="mb-3">
                <label for="slot2" class="form-label">Slot2:</label>
                <InputNumber id="slot2" @bind-Value="Slots.Slot2" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="slot3" class="form-label">Slot3:</label>
                <InputNumber id="slot3" @bind-Value="Slots.Slot3" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="slot4" class="form-label">Slot4:</label>
                <InputNumber id="slot4" @bind-Value="Slots.Slot4" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="slot5" class="form-label">Slot5:</label>
                <InputNumber id="slot5" @bind-Value="Slots.Slot5" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="slot6" class="form-label">Slot6:</label>
                <InputNumber id="slot6" @bind-Value="Slots.Slot6" class="form-control" />
            </div>
                  <div class="mb-3">
                 <label for="slot7" class="form-label">Slot7:</label>
                 <InputNumber id="slot7" @bind-Value="Slots.Slot7" class="form-control"/>
             </div>
                   <div class="mb-3">
                 <label for="slot8" class="form-label">Slot8:</label>
                 <InputNumber id="slot8" @bind-Value="Slots.Slot8" class="form-control"/>
                       <div class="mb-3">
                 <label for="slot9" class="form-label">Slot9:</label>
                 <InputNumber id="slot9" @bind-Value="Slots.Slot9" class="form-control"/>
             </div>
                <div class="mb-3">
                    <label for="slot10" class="form-label">Slot10:</label>
                    <InputNumber id="slot10" @bind-Value="Slots.Slot10" class="form-control" />
                </div>
             </div>
             <button type="submit" class="btn btn-outline-danger">Save Play</button>
         </EditForm>
     </div>
 </div>
@code {

    private EditContext editContext;

    [SupplyParameterFromForm]
    private RosterPlay Slots { get; set; } = new();
    //instance of the class RosterPlay called Slots to use in Form

    private IEnumerable<Position> positions;

    protected override async Task OnInitializedAsync()
    {
        positions = await PositionProvider.GetAllPositionsAsync();
    }

    public async Task SavePlay()
    {
        
    }



  
}
