@page "/"
@using NFLRookieGuide.Context
@inject TeamProvider TeamProvider
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center align-items-center pt-5" >
    <button type="button" class="btn btn-primary btn-lg" @onclick="GoToTeams">Teams</button>
</div>
<div class="d-flex justify-content-center align-items-center pt-5">
    <button type="button" class="btn btn-primary btn-lg" @onclick="GoToRules">Rules</button>
</div>


@code {

    private void GoToTeams()
    {
        NavigationManager.NavigateTo("/teams");
    }

    private void GoToRules()
    {
        NavigationManager.NavigateTo("/rules");
    }
}