@page "/"
@using NFLRookieGuide.Context
@using Microsoft.EntityFrameworkCore
@inject TeamProvider TeamProvider
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<style>
    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        height: 100vh; 
    }

    .big-button {
        width: 500px;
        height: 120px;
        font-size: 40px;
        margin: 40px 0;
    }
</style>

<div class="button-container" >
    <h1 style="font-size: 55px;">Welcome to the NFL rookie guide</h1>
    <button type="button" class="big-button" style="background-color: #001F5B; color: white;" @onclick="GoToTeams">Teams</button>
    <button type="button" class="big-button" style="background-color: #A50034; color: white;" @onclick="GoToRules">Rules</button>
    <button type="button" class="big-button" style="background-color: #FFFFFF" @onclick="GoToSelection">Build Your Team</button>
</div>


@code {

    private void GoToTeams()
    {
        NavigationManager.NavigateTo("/teams");
    }

    private void GoToRules()
    {
        NavigationManager.NavigateTo("/rules");
    }

    private void GoToSelection()
    {
        NavigationManager.NavigateTo("/selection");
    }
}