@page "/plays"
@using Microsoft.EntityFrameworkCore
@using NFLRookieGuide.Context
@using NFLRookieGuide.Model
@inject NavigationManager NavigationManager


<h1 style="text-align: center">Plays</h1>

@code {

}
