@page "/plays"
@using Microsoft.EntityFrameworkCore
@using NFLRookieGuide.Context
@using NFLRookieGuide.Model
@inject PlayProvider PlayProvider
@inject NavigationManager NavigationManager

<style>
    .grid-container {
        display: grid;
        align-items: center; 
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px; 
        width: 600px; 
        margin: auto; 
        margin-left: 182px;
    }

    .grid-container img {
         width: 300px; 
         height: 250px
     }
</style>

<h1 style="text-align: center" >Choose a play</h1>

<div class="grid-container">
    @foreach(var play in plays)
    {
        <a @onclick="() => GoToRoster(play)">
            @* If you click anywhere inside the padding it redirects *@
            <h4 style="text-align:center">@play.Name</h4>
            <img src="plays/@play.Diagram" alt="play" >
        </a>
    }
</div>

@code {
    private IEnumerable<Play> plays;

    protected override async Task OnInitializedAsync()
    {
        plays = await PlayProvider.GetAllPlaysAsync();
    } //gets teams from the database through the provider

    public void GoToRoster(Play plays)
    {
        NavigationManager.NavigateTo($"/rosterPlay/{plays.Id}");
    }
}
