@page "/rules"
@using NFLRookieGuide.Context
@using NFLRookieGuide.Model
@inject NavigationManager NavigationManager

<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Lato", sans-serif
        }

        .w3-bar, h1, button {
            font-family: "Montserrat", sans-serif
        }

        .fa-anchor, .fa-coffee {
            font-size: 200px
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top-Aligned Text with Image</title>
</head>

<header class="w3-container w3-black w3-center" style="padding:80px 16px">
    <h1 class="w3-margin w3-jumbo">Rules</h1>
</header>
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
        </ol>
    </nav>
</div>
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <img src="https://s.hdnux.com/photos/01/14/03/76/19939202/4/1920x0.jpg" alt="Endzone" width="800" height="800" class="img-fluid" style="padding:15px"/>
        </div>
        <div class="w3-twothird">
            <h1>Scoring</h1>
            <h5 class="w3-padding-20">Scoring in the NFL is way different than any other sport, basic scoring rules are as listed:</h5>
            <ul class="w3-text-grey">
                <li>Touchdown: 6 points</li>
                <li>Extra Point (After touchdown) 1 point</li>
                <li>Two-Point Conversion (after touchdown): 2 points</li>
                <li>Field Goal: 3 points</li>
                <li>Safety: 2 points</li>
            </ul>
        </div>
    </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>Times</h1>
            <h5 class="w3-padding-20">Game duration details:</h5>
            <ul class="w3-text-grey">
                <li>Four quarters, each lasting 15 minutes.</li>
                <li>Halftime is typically 12 minutes.</li>
            </ul>
            <h5 class="w3-padding-20">Play clock details:</h5>
            <ul class="w3-text-grey">
                <li>Teams have 25 or 40 seconds to start the next play, depending on the situation or they will be penalized with a 5 yard loss.</li>
                <li>If a play follows a snap (e.g., after a touchdown), the clock resets to 40 seconds.</li>
                <li>Teams often use the play clock strategically to manage game tempo, conserve time, or set up specific plays.</li>
                <li>The referee can reset the play clock if there's a stoppage due to injury, timeout, or other reasons.</li>
            </ul>
        </div>
        <div class="w3-third w3-center">
            <img src="https://external-preview.redd.it/highlight-dandre-swift-finds-the-end-zone-racks-up-169-v0-Xi9ADggM9aa-371_WF9EUfXI6iruq4ORFiol5KHrOGs.png?format=pjpg&auto=webp&s=7122fda4e0cd907671d77867d0d89feb14429f21" alt="clock" width="500" length="500" />
        </div>
    </div>
</div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <img src="https://www.liveabout.com/thmb/6uH91p4IOF1Wajwn7oAPXxz8g6k=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-457406155-5663dc1e5f9b583dc376f8bf.jpg" alt="" width="500" height="500" class="img-fluid" style="padding: 15px"/>
        </div>
        <div class="w3-twothird">
            <h1>Downs</h1>
            <h5 class="w3-padding-20">Moving through the field with "downs":</h5>
            <ul class="w3-text-grey">
                <li>Teams have four downs to advance the ball 10 yards.</li>
                <li>If they succeed, they get another set of four downs</li>
                <li>If team fails withing 4 attemps they need to punt the ball to the other team</li>
                <li>The team can try a 4th time but if they fail to convert, the opposing team gets the ball on the spot where they failed</li>
            </ul>
        </div>
    </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <h1>Flags</h1>
            <h5 class="w3-padding-20">Flags are the way teams get penalized</h5>
            <h7 class="w3-padding-20">Some examples are:</h7>
            <ul class="w3-text-grey">
                <li>Pass Interference:Defensive players cannot make illegal contact with a receiver before the ball arrives - Varying yard loss</li>
                <li>Offside or False Start:Players must be on their side of the line of scrimmage when the ball is snapped. A player moving before the snap is called a false start - 5 yard penalty</li>
                <li>Personal Fouls:Includes actions like unnecessary roughness and unsportsmanlike conduct - 10-15 yard penalty</li>
                <li>Holding:This occurs when an offensive player (usually a lineman) grabs or holds a defender to prevent them from reaching the ball carrier - 10 yard penalty</li>
            </ul>
        </div>
        <div class="w3-third w3-center">
            <img src="https://phillycovercorner.com/wp-content/uploads/2024/01/Referee-flag-e1704226399371.jpg" alt="Officer throwing flag" width="500" length="500"/>
        </div>
    </div>
</div>
@code {

}
